<form [formGroup]="chartForm" style="text-align: center;margin-top: 10px;">
        <mat-form-field appearance="outline">
          <mat-label>client Folder</mat-label>
          <mat-select  formControlName="client" >
            <mat-option *ngFor="let folder of dataSource" [value]="folder.name" (click)="chooseFolder(folder.id)" >
              {{folder.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>Choose a date</mat-label>
          <input matInput [matDatepicker]="picker"  (ngModelChange)="dateFrom()" formControlName="dateFrom"  >
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker [dateClass]="dateClass" #picker ></mat-datepicker>
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>Choose a date</mat-label>
          <input matInput [matDatepicker]="picker1" (ngModelChange)="dateTo()" formControlName="dateTo">
          <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
          <mat-datepicker [dateClass]="dateClass" #picker1 ></mat-datepicker>
        </mat-form-field>
</form>

<div class="example-card" >
  
    <mat-card style="margin-left: 20% ;height: 100%;width: 100%;;" >
    
        <canvas baseChart
          [data]="barChartData"
          [options]="barChartOptions"
          [plugins]="barChartPlugins"
          [type]="barChartType"
          (chartHover)="chartHovered($event)"
          (chartClick)="chartClicked($event)">
        </canvas>
      
    </mat-card>
    
    
</div>