<!-- TODO: add this propretie to next Line "linear" -->
  <mat-stepper linear #stepper>
    <mat-step [stepControl]="firstFormGroup" [editable]="false">
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>Server Type</ng-template>
        <h4>What type of database server do you have?</h4>
    <mat-form-field appearance="outline">
  <mat-label>Server Type</mat-label>
    <mat-select formControlName="type" >
    <mat-option *ngFor="let db of dbs" [value]="db.value">
      {{db.viewValue}}
    </mat-option>
  </mat-select>
</mat-form-field>
<h4>Where is your SGBD is installed?</h4>
  <div>
  <p>SGBD bin Directory </p><p>exemple(C:\Program Files\PostgreSQL\bin)</p>
  <mat-form-field class="example-full-width" appearance="outline" >
    
    <input matInput formControlName="path" (keyup)="changed()" >
  </mat-form-field>
</div>
<h4>What is the name of your server ?</h4>
  <div>
  <mat-form-field class="example-full-width" appearance="outline" >
    
    <input matInput formControlName="name" (keyup)="changed()" >
  </mat-form-field>
</div>
<h4>What is the client name?</h4>
  <div>
  <mat-form-field class="example-full-width" appearance="outline" >
    
    <input matInput formControlName="clientName" (keyup)="changed()" >
  </mat-form-field>
</div>

        <div>
          <button mat-button matStepperNext (click)="clickb()">Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup" label="create a User" [editable]="false" >
      <mat-button-toggle-group name="favoriteColor"class="example-spacer" aria-label="Favorite Color">
        <mat-button-toggle (click)="show()" >Create New User</mat-button-toggle>
        <mat-button-toggle (click)="show1()">Add Existing User</mat-button-toggle>
      </mat-button-toggle-group>
      <form  [formGroup]="secondFormGroup">
        <div *ngIf="showfield" >
        <div class="example-div">

          <div>
          <p>Username</p>
          <mat-form-field class="example-full-width" appearance="outline" >
            
            <input matInput formControlName="cUserName"  (keyup)="changed()" >
          </mat-form-field>
        </div>
        <div>
          <p>Password</p>
          <mat-form-field class="example-full-width" appearance="outline" >
            <input matInput  formControlName="cPassword" (keyup)="changed()">
             </mat-form-field>
        </div>
        </div>
       
        <mat-card class="Mycard">
          {{addUserCommandLine1}}
          <br>
          {{addUserCommandLine2}}
          <br>
          {{addUserCommandLine3}}
          <br>
          {{addUserCommandLine4}}
          
          
          <button mat-icon-button (click)="copyMessage()"  ><mat-icon >content_copy</mat-icon></button>
          
        </mat-card>
        
        
      </div>
      <div *ngIf="!showfield">
        <div class="example-div">

          <div>
            <p>Username</p>
            <mat-form-field class="example-full-width" appearance="outline" >
              
              <input matInput formControlName="eUserName" >
            </mat-form-field>
          </div>
          <div>
            <p>Password</p>
            <mat-form-field class="example-full-width" appearance="outline" >
              <input matInput formControlName="ePassword"   >
            </mat-form-field>
          </div>
        </div>
        
        
        
      </div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button matStepperNext>Next</button>
    </form>
      
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      <p>You are now done.</p>
      <div>
        <button mat-button (click)="submit()" >Create</button>
        <button mat-button (click)="stepper.reset()">Reset</button>
      </div>
    </mat-step>
  </mat-stepper>
  