
  
 

  .example-sidenav {
    padding: 20px;
  }
.selection-List{
    height: 100%;
}
  .logo{
      height: 50px;
      width: 50px;
  }

  .example-small-box, .example-large-box {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 16px;
    padding: 16px;
    border-radius: 8px;
  }
  
  .example-small-box {
    height: 100px;
    width: 100px;
  }
  
  .example-large-box {
    height: 300px;
    width: 300px;
  }
  .tab{
    height: 800%;
  }
  .Mycard{
    background-color:#CDDEFF;
    display: grid;
    grid-auto-flow: column;
    grid-column-gap: 10px;
  }
  .example-div{
    display: grid;
    grid-auto-flow: column;
    grid-column-gap: 10px;
  }