<h1 mat-dialog-title>Restore</h1>
<div mat-dialog-content>
  <mat-form-field class="example-full-width" appearance="outline">
    <mat-label>data base to restore</mat-label>
    <input matInput [(ngModel)]="dataBase">
  </mat-form-field>
  <p></p>
  <mat-form-field class="example-full-width" appearance="outline">
    <mat-label>Server User Name</mat-label>
    <input matInput [(ngModel)]="userName">
  </mat-form-field>
  <mat-form-field  class="example-full-width" appearance="outline">
    <mat-label>host</mat-label>
    <input matInput [(ngModel)]="host">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">No Thanks</button>
  <button mat-button (click)="downloadAndRestore()" cdkFocusInitial>Ok</button>
</div>