<mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" opened mode="side">
      <div class="wrapper">
        <nav id="sidebar" class="sidebar js-sidebar">
            <div class="sidebar-content js-simplebar">
                <a [routerLink]="[ '/admin']" class="sidebar-brand">
          <span class="align-middle">GPRO</span>
                </a>
    
                <ul class="sidebar-nav">
                    <li class="sidebar-header">
                        Pages
                    </li>
    
                    <li class="sidebar-item active">
                        <a class="sidebar-link" [routerLink]="[ '/admin']">
              <i class="align-middle" data-feather="sliders"></i> <span class="align-middle">Dashboard</span>
            </a>
                    </li>
    
                    <!-- <li class="sidebar-item">
                        <a class="sidebar-link" [routerLink]="[ 'adminList']">
              <i class="align-middle" data-feather="user"></i> <span class="align-middle">Admin List</span>
            </a>
                    </li>
    
                    <li class="sidebar-item">
                        <a class="sidebar-link" [routerLink]="[ 'user']">
              <i class="align-middle" data-feather="log-in"></i> <span class="align-middle">User List</span>
            </a>
                    </li> -->
                    <li class="sidebar-header">
                      Drive
                  </li>
                    <li class="sidebar-item">
                      <a class="sidebar-link" [routerLink]="[ 'backups']">
              <i class="align-middle" data-feather="user-plus"></i> <span class="align-middle">backup list</span>
            </a>
                    </li>
                    <li class="sidebar-header">
                      Email
                  </li>
                    <li class="sidebar-item">
                      <a class="sidebar-link" [routerLink]="[ 'backupsEmail']">
              <i class="align-middle" data-feather="user-plus"></i> <span class="align-middle">backup list</span>
            </a>
                    </li>
                    <li class="sidebar-header">
                      statistics
                  </li>
                  <li class="sidebar-item">
                    <a class="sidebar-link" [routerLink]="[ 'chart']">
            <i class="align-middle" data-feather="user-plus"></i> <span class="align-middle">backup </span>
          </a>
                    <a class="sidebar-link" [routerLink]="[ 'chart']">
            <i class="align-middle" data-feather="user-plus"></i> <span class="align-middle">error </span>
          </a>
                    <a class="sidebar-link" [routerLink]="[ 'chart']">
            <i class="align-middle" data-feather="user-plus"></i> <span class="align-middle">performance </span>
          </a>
    
                    
    
                    
    
                </ul>
    
               
            </div>
        </nav>
    
        
    </div>
    
    </mat-drawer>
  
    <div >
        <mat-toolbar color="primary">
            <button mat-icon-button class="example-icon"  (click)="drawer.toggle()" aria-label="Example icon-button with menu icon">
              <mat-icon>menu</mat-icon>
            </button>
            <span>{{currentRoute}}</span>
            <span class="example-spacer"></span>
            <ul class="navbar-nav ms-auto">
              <li class=" btn-primary nav-item  text-white" role="button">
                  <button mat-raised-button color="primary"  (click)="logout()">logout</button>
              </li>
              
              
          </ul>
           
          </mat-toolbar>
     
      <router-outlet></router-outlet>
      
    </div>
  
  </mat-drawer-container>

 