<div class="panel panel-primary">
    <div class="panel-heading">
      

      <h2>schedule List</h2>
    </div>
    <div class="panel-body">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>database Name</th>
            <th>schedule</th>
            <th>Email Receiver</th>
            
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let admin of backup | async">
            <td>{{admin.dataBaseName}}</td>
            <td>{{admin.schedule}}</td>
            <td>{{admin.emailReceiver}}</td>
            <td>
              <button mat-button color="primary"  routerLink="updateAdmin/{{admin.id}}"   style="margin-left: 10px" >update</button>
              <button mat-button color="secondary" (click)="deleteBackup(admin.id)" >Delete</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  
  