<div style="text-align: center;margin-top: 10px;">

  <mat-form-field class="search"   appearance="outline">
    <mat-label>Search</mat-label>
    <input   matInput (keyup)="applyFilter($event)"  #input>
  </mat-form-field> 
</div>
<div class="mat-elevation-z8" >
  <table mat-table [dataSource]="dataSource" >



    <ng-container matColumnDef="firstName">
      <th mat-header-cell *matHeaderCellDef > first Name </th>
      <td mat-cell *matCellDef="let row"> {{row.firstName}} </td>
    </ng-container>
    <!-- Progress Column -->
    
    <!-- Name Column -->
    <ng-container matColumnDef="lastName">
      <th mat-header-cell *matHeaderCellDef > last Name</th>
      <td mat-cell *matCellDef="let row"> {{row.lastName}} </td>
    </ng-container>
    
    <!-- Fruit Column -->
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef  > email </th>
      <td mat-cell *matCellDef="let row"> {{row.email}}</td>
    </ng-container>
    <ng-container matColumnDef="role">
      <th mat-header-cell *matHeaderCellDef  > Role </th>
      <td mat-cell *matCellDef="let row"> {{row.appUserRole}}</td>
    </ng-container>
    
    
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef >Actions</th>
      <td mat-cell *matCellDef="let row"><button mat-raised-button color="primary" (click)="update(row.id)">update</button></td>
      
    </ng-container>
    <ng-container matColumnDef="action1">
      <th mat-header-cell *matHeaderCellDef ></th>

      <td mat-cell *matCellDef="let row"><button mat-raised-button color="warn" (click)="delete(row.id)">delete</button></td>
      
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    <!-- Row shown when there is no matching data. -->
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
    </tr>
  </table>

  
</div>
