.example-radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
    align-items: flex-start;
    
  }
  
 
  .select{
    width: 100px;
   
  }
  .example-additional-selection {
    opacity: 0.75;
    font-size: 0.75em;
  }